*{
	margin:0;
	padding: 0;
	border:0;
	border:none;
	outline: none;
}

body{
	font-family: Arial;
	font-size:13px;
	line-height: 1.5em;
	color:#fff;
	background: #78284a;
	background-image: -webkit-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
	background-image:    -moz-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
	background-image:     -ms-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
	background-image:      -o-linear-gradient(left, #78284a 0%, #6d8a9f 100%);
	background-image:         linear-gradient(to right, #78284a 0%, #6d8a9f 100%);	
}

.clearfix{
	clear: both;
}

#container{
	width: 330px;
	min-height: 400px;
	background: #333;
	overflow: auto;
	margin:20px auto;
	border-radius: 10px;
	box-shadow: 0 10px 8px -8px #333;
}

#audio-image{
	position: relative;
	overflow: hidden;
	height: 200px;
	margin-bottom: 15px;
}

#audio-image .cover{
	width: 100%
}

#audio-info{
	text-align: center;
}

#audio-info{
	font-weight: bold;
}

input#volume{
	width: 95%;
	margin-left:2%;
	-webkit-appearance:none !important;
	background: #ccc;
	height: 1px;
	margin-bottom: 20px;
}
input#volume::-webkit-slider-thumb{
	-webkit-appearance:none !important;
	background: url(../images/knob.png) no-repeat;
	height: 12px;
	width: 12px;
}

#buttons{
	width: 90%;
	display: block;
	margin:15px auto;
	margin-left: 23px;
	overflow: auto;
}

button#play{
	width: 70px;
	height: 70px;
	background: url(../images/play.png) no-repeat;
	float: left;
	margin-left: -2px;
}

button#pause{
	width: 70px;
	height: 70px;
	background: url(../images/pause.png) no-repeat;
	float: left;
	margin-left: -2px;
}


button#stop{
	width: 70px;
	height: 70px;
	background: url(../images/stop.png) no-repeat;
	float: left;
	margin-left: 3px;
}

button#prev{
	width: 70px;
	height: 70px;
	background: url(../images/prev.png) no-repeat;
	float: left;
	margin-top:15px;
}

button#next{
	width: 70px;
	height: 70px;
	background: url(../images/next.png) no-repeat;
	float: right;
	margin-top:15px;
}

#tracker{
	position: relative;
	width: 100%;
}

#progress-bar{
	width: 80%;
	margin-left: 2%;
	margin-bottom: 20px;
	margin-top: 9px;
	background: url(../images/progress_bg.png) no-repeat;
	float: left;
}

#progress{
	background: url(../images/progress.png) no-repeat;
	height: 10px;
	display: inline-block;
	margin-bottom: 4px;
}

#duration{
	position: absolute;
	top: 0;
	right: 10px;
	padding: 4px 8px;
	background: #000;
	border-radius: 5px;
}

#playlist{
	list-style: none;

}

#playlist li{
	cursor: pointer;
	padding: 5px;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
#playlist li:hover{
  background: #484848;
}

#playlist li.active{
	font-weight: bold;
	padding: 8px;
	background: #666;
	border-bottom: 1px solid #ddd;
}

span > button:hover{
	opacity: 0.8;
}